/*Variables creadas con :root*/

:root {
  --Amarillo: #eac926;
  --Azul: #03264c;
  --Celeste: #1259c3;
  --GrisOscuro: #666;
  --GrisClaro: #ebebeb;
  --Verde: #39b54a;
  --Boton-submit: #0022AA;
  --Boton-reset: #FA2B29; 
}


/* SELECTOR DE ETIQUETA */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--GrisClaro);
  font-family: "Roboto";
  width: 100%;
  margin: 0px;
}

header{
  /* border: solid 5px black; */
  background-color: var(--Amarillo);
}


main{
  /* border: 5px solid red; */
  margin: auto;
  width: 90%;
}

section{
  /* border: 5px dashed darkmagenta; */
  background-color: var(--GrisClaro);
  padding-bottom: 10px;
}

article{
  border-top: 1px solid var(--GrisOscuro);
  display: flex;
  position:relative;
}

/* p{
  border: dotted 2px darkorange;
} */

footer {
  /* border: 5px solid darkolivegreen; */
  text-align: center;
  background-color: white;
  line-height: 22px;

}



/* SELECTOR DE CLASS */
/* CONTAINER Y CHILD */
.container {
  margin: auto;
  width: 50vw;
  /* Center child horizontally*/
  display: flex;
  justify-content: center;
}

.child {
  width: 25vw;
  height: 8vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
}

.img-logo{
  width: 50%;
}

.nav-bar-container{
  display: none;
}

/* .nav-bar{
  border: 5px dashed darkgreen;
} */

.banner {
  /* border: 5px dashed salmon; */
  width: 100%;
  
}

.img-producto {
  /* border: 2px dotted darkgoldenrod; */
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  order:-1;
}

.titulares {
  /* border: 5px dashed darkgoldenrod;  */
  font-size: 24px;
  width: 100%;
}

.precios {
  font-size: 18px;
  flex-grow: 0.3;
}

.descuentos {
  font-size: 16px;
  color: var(--Verde);
  flex-grow: 0.7;
}

.descripciones {
  font-size: 16px;
  display: none;
  transition: all , 0.5s;
}


.texto-strong {
  font-size: 18px;
  font-weight: bold;
  color: var(--GrisOscuro);
}

.texto {
  font-size: 12px;
  font-weight: bold;
  color: var(--GrisOscuro);
}

.burger-menu {
  background-color: var(--Azul);
  color: var(--GrisClaro);
  padding: 20px 10px;
  margin: auto;
  border-radius: 10px;
  font-size: 30px;
}

.logo-navbar{
  /* border: 5px dashed magenta; */
  display: flex;
  flex-wrap: wrap;
}

.section{
  /* border: 3px dotted red; */
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0rem;
}

.centrado {
  /* border: 5px dashed lightseagreen; */
  text-align: center;
  margin: auto;
}

.productos{
  box-shadow: none;
  padding: 0.3rem;
}


.formulario-header{
  /* border: 5px solid darkblue; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-header{
  width: 70%;
  font-size: 1rem;
}

.formulario-register{
  /* border: 5px solid darkgreen; */
  padding: 1rem;
}

.label-register{
  /* border: 5px dashed lightcoral; */
  display: none;
  /* justify-content: center; */
  font-size: 18px;
  font-weight: bold;
}

.label-register-mobile{
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}


.div-input-register{
  /* border: 5px dotted darkmagenta; */
  display: flex;
  justify-content: center;
  padding: 0.4rem;
}

.div-input-register-check{
  /* border: 5px dotted darkred; */
  display: flex;
  flex-wrap: wrap;
  padding: 0.4rem;
}

.input-register{
  font-size: 1rem;
}

.formulario-login{
  /* border: 5px solid darkgreen; */
  padding: 1rem;
}

.label-login{
  /* border: 5px dashed lightcoral; */
  display: none;
  /* justify-content: center; */
  font-size: 18px;
  font-weight: bold;
}

.div-input-login{
  /* border: 5px dotted darkmagenta; */
  display: flex;
  justify-content: center;
  padding: 0.6rem;
}

.input-login{
  font-size: 1rem;
}

.button-submit{
  font-size: 16px;
  padding: 0.2rem;
  transition: all 0.5s;
}


.button-reset{
  font-size: 16px;
  padding: 0.2rem;
  transition: all 0.5s;
}




.container-div-footer{
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;

}

.div-footer{
  /* border: 3px dotted magenta; */
  width: 32%;
  transition: all 0.5s;
  /* border: 3px dotted lightseagreen; */
}



.div-img-footer{
  padding: 0.2rem;
}



/* SELECTORES COMPUESTOS */
/* RECORDAR QUE LOS SELECTORES ANIDADOS PUEDEN SERVIR PARA APLICAR ESTILOS A SOLO UNA PARTE, ACÁ SOLO COLOREA LOS ICONOS DE FOOTER */
footer .fa-solid {
  /* border: 3px dotted darkgoldenrod; */
  color: var(--Celeste);
  transition: all 0.5s;
}

footer .text-bottom{
  /* border: 4px dashed blueviolet; */
  display: flex;
  justify-content: center;
  
}


main section article i{
  display:block;
  font-size: 16px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid var(--Verde);
  border-radius: 50%;
  padding: 5px;
  color: var(--Verde);
  position: absolute;
  right: 10px;
  top: -32px;
  transition: all 0.5s;
}



/* VERSIÓN MOBILE */

@media(min-width:361px) {

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

}

/* VERSIÓN TABLET */

@media(min-width:768px) {
  .descripciones{
    display: block;
    font-size: 16px;
  }

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .productos{
    width:49%;
  }


  .img-logo{
    width: 33.3%;
  }

  .formulario-header{
    width: 33.3%;
  }

  .centrado{
    width: 33.3%;
  }

  .nav-bar-container{
    display: flex;
    flex-wrap: wrap;
    padding: 0.3rem;
  }

  .nav-bar{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .container{
    display: none;
  }

  .label-register{
    display: flex;
    justify-content: center;
  }

  .div-input-register-check{
    justify-content: center;
  }

  .label-login{
    display: flex;
    justify-content: center;
  }

  
}

/* VERSIÓN LAPTOP */

@media (min-width:1024px) {

  main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .productos{
    width:24%;
  }
  
  .productos:hover{
    box-shadow: 0px 0px 10px rgb(100 , 100 , 100);
  }

  .productos:hover .fa-solid{
    transform: rotate(-90deg);
  }

  .productos:hover .descripciones{
    border: 3px dotted var(--Verde);
  }

  .button-submit:hover{
    background-color: var(--Boton-submit);
    color: var(--GrisClaro);
  }

  .button-reset:hover{
    background-color: var(--Boton-reset);
    color: var(--GrisClaro);
  }

  .div-footer:hover{
    box-shadow: 0px 0px 10px rgb(100 , 100 , 100);
    /* border: 3px dotted magenta; */
  }

  .div-footer:hover .fa-solid{
    color: var(--Amarillo);
  }


}



